<form (ngSubmit)="updateBook()">
  <div class="form-group">
    <label for="name">Title</label>
    <input type="text" name="title" [(ngModel)]="book.title" class="form-control" id="name" aria-describedby=""
           placeholder="">
  </div>
  <div class="form-group">
    <label for="name">Author</label>
    <input type="text" name="author" [(ngModel)]="book.author" class="form-control" id="price" aria-describedby=""
           placeholder="">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" [(ngModel)]="book.description" class="form-control" id="description"
              aria-describedby="" placeholder=""></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
