<form (ngSubmit)="createBook()">
  <div class="form-group">
    <label for="name" style="color: blue">Title</label>
    <input  type="text" name="title" [(ngModel)]="book.title" class="form-control" id="name" aria-describedby=""
           placeholder="">
  </div>
  <div class="form-group">
    <label for="name"  style="color: blue">Author</label>
    <input type="text" name="author" [(ngModel)]="book.author" class="form-control" id="price" aria-describedby=""
           placeholder="">
  </div>
  <div class="form-group">
    <label for="description" style="color: blue">Description</label>
    <textarea name="description" [(ngModel)]="book.description" class="form-control" id="description"
              aria-describedby="" placeholder=""></textarea>
  </div>
  <button  type="submit" class="btn-primary">Submit</button>
</form>

